{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- heading -->
<div class="row justify-content-center bg-dgrey">
    <div class="col-11 col-lg-10">
        <h2 class="px-5 pb-3">Shopping bag</h2>
        <hr class="hr-light">
    </div>
</div>

<!-- bag content -->
<div class="row justify-content-center bg-dgrey">
    <div class="col-11 col-lg-10">
        {% if bag_items %}
        <div class="table-responsive rounded text-light pt-3 pb-5">
            
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">

                    <!-- Table header -->
                    <thead class="text-light">
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    <!-- Table rows -->
                    {% for item in bag_items %}
                        <tr class="text-light border-bottom border-secondary">
                            <td class="p-3 w-25">
                                <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                            </td>
                            <td class="py-3">
                                <p class="my-0">{{ item.product.name }}</p>
                                <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                            </td>
                            <td class="py-3">
                                <p class="my-0">&euro;{{ item.product.price }}</p>
                            </td>

                            <!-- quantity -->
                            <td class="py-3 w-25">
                                <form class="form update-form" method="POST" action="">
                                    {% csrf_token %}

                                    <!-- quantity selector -->
                                    <div class="row form-group">
                                        <div class="col-12 col-sm-9 col-md-8 col-lg-7 input-group">
                                            <!-- "-"" -->
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-full-black rounded px-1 mx-1 h-90"
                                                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-minus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>

                                            <!-- "quantity"" -->
                                            <input class="form-control form-control-sm qty_input rounded px-3" type="number"
                                                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">

                                            <!-- "+"" -->
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-sm btn-full-black rounded px-1 mx-1 h-90"
                                                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-plus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>

                                        </div>
                                    </div>

                                </form>

                                <a href="" class="update-link text-light"><small>Update</small></a>
                                <a href="" class="update-link text-danger"><small>Delete</small></a>

                            </td>
                            <td class="py-3">
                                <p class="my-0">&euro;{{ item.product.price }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                    
                    <!-- Bag total -->
                    <tr>
                        <td colspan="5" class="pt-5 text-right text-light pr-5">
                            <hr class="hr-light-thick w-50 float-right">
                            <br class="float-none">
                            <h6 class="mt-3">Bag Total: &euro;{{ total|floatformat:2 }}</h6>
                            <p class="mt-2 mb-0 font-weight-light">Delivery: &euro;{{ delivery|floatformat:2 }}</p>

                            <!-- Member discount needs to be expanded in views -->
                            <p class="mt-0 font-weight-light">Member Discount: &euro;{{ delivery|floatformat:2 }}</p>

                            <h6 class="mt-4 lead font-weight-bold">Grand Total: &euro;{{ grand_total|floatformat:2 }}</h6>
                            <p class="mb-1 text-light small pt-5 font-weight-light">
                                Remember! Free delivery for orders over &euro;{{ free_delivery_threshold }}
                            </p>
                            <p class="mb-1 text-light small font-weight-light">
                                ... and 10% off for Academy members!
                            </p>

                            {% if free_delivery_delta > 0 %}
                                <p class="mb-4 text-danger small">
                                    You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                                </p>
                            {% endif %}

                        </td>
                    </tr>

                    <!-- Checkout / Keep shopping -->
                    <tr class="mr-5">
                        <td colspan="5" class="text-right text-light">
                            <a href="{% url 'products' %}" class="btn btn-outline-light button-white-outline rounded my-2">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase px-2">Keep Shopping</span>
                            </a>
                            <a href="" class="btn btn-full-white rounded ml-2 my-2">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
        {% else %}

        <!-- Empty bag -->
        <div class="row justify-content-center">
            <div class="col-11 text-center">
                <p class="text-light my-3">Your bag is currently empty.</p>
                <div class="text-muted">
                    <p><i class="fas fa-ban my-3" style="font-size: 7rem;"></i></p>
                </div>
                <a href="{% url 'products' %}" class="btn btn-outline-light button-white-outline rounded my-5 pl-4 pr-5">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Back to Shop</span>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}