{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<!-- heading -->
<div class="row justify-content-center bg-dgrey">
    <div class="col-11 col-lg-10">
        <h2 class="px-5 pb-3">Checkout</h2>
        <hr class="hr-light">
    </div>
</div>

<!-- Order Form -->
<div class="row justify-content-center bg-dgrey pt-3">

        <!-- Order summary -->
        <div class="col-11 col-sm-10 col-md-8 col-lg-5 order-lg-last mb-5 pt-3">

            <!-- Order summary heading -->
            <p class="text-muted">Order Summary ({{ product_count }})</p>
            <div class="row">
                <div class="col-7">
                    <p class="mb-1 mt-0 small text-muted">Item</p>
                </div>
                <div class="col-4 text-right">
                    <p class="mb-1 mt-0 small text-muted">Subtotal</p>
                </div>
            </div>
            <hr class="hr-dark">

            <!-- Order summary items -->
            {% for item in bag_items %}
            <div class="row">
                <div class="col-3 mb-2">
                    <a href="{% url 'product_detail' item.product.id %}">
                        {% if item.product.image %}
                            <img class="w-100" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                        {% else %}
                            <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        {% endif %}
                    </a>
                </div>
                <div class="col-5 text-light">
                    <p class="my-0">{{ item.product.name }}</p>
                    <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                </div>
                <div class="col-3 text-right">
                    <p class="my-0 text-light">&euro;{{ item.product.price | calc_subtotal:item.quantity }}</p>
                </div>
            </div>
            {% endfor %}

            <!-- Grand total -->
            <hr class="my-0 hr-light-thick">
            <div class="row text-light text-right pt-2">
                <div class="col-6 offset-3">
                    <p class="my-0">Order Total:</p>
                    <p class="my-0">Delivery:</p>
                    <p class="mb-0 mt-2 font-weight-bold">Grand Total:</p>
                </div>
                <div class="col-3">
                    <p class="my-0">&euro;{{ total | floatformat:2 }}</p>
                    <p class="my-0">&euro;{{ delivery | floatformat:2 }}</p>
                    <p class="my-0 mt-2"><strong>&euro;{{ grand_total | floatformat:2 }}</strong></p>
                </div>
            </div>
        </div>

        <!-- Form -->
        <div class="col-11 col-sm-10 col-md-8 col-lg-5 pt-3">
            <p class="text-light text-center">Please fill out the form below to complete your order</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}

                <!-- Details -->
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-muted px-2">Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                </fieldset>

                <!-- Delivery -->
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-muted px-2 w-auto">Delivery</legend>
                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}

                    <!-- Save delivery info, signup, login -->
                    <div class="form-check form-check-inline float-right mr-0 text-light">
                        {% if user.is_authenticated %}
                        <label class="form-check-label" for="id-save-info" name="save-info">Save this delivery
                            information
                            to my profile</label>
                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info"
                            checked>
                        {% else %}
                        <label class="form-check-label" for="id-save-info">
                            <a class="text-lred text-decoration-none text-white-hover" href="{% url 'account_signup' %}">Create an account</a> or
                            <a class="text-lred text-decoration-none text-white-hover" href="{% url 'account_login' %}">Login</a> to save this information
                        </label>
                        {% endif %}
                    </div>
                </fieldset>

                <!-- Payment -->
                <fieldset class="rounded px-3 mt-0">
                    <legend class="fieldset-label small text-muted px-2 w-auto">Payment</legend>

                    <!-- Stripe card element -->
                    <div class="mb-3 text-danger" id="card-element">

                    </div>

                    <!-- Stripe form errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert">

                    </div>

                    <!-- Pass the client secret to the view so we can get the payment intent id -->
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">

                    <!-- Submit section -->
                    <div class="submit-button text-right mt-5 mb-2">

                        <!-- Adjust bag -->
                        <a href="{% url 'view_bag' %}"
                            class="btn button-white-outline btn-outline-light text-uppercase rounded my-2">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="font-weight-bold">Adjust Bag</span>
                        </a>

                        <!-- Submit button -->
                        <button id="submit-button" class="btn btn-full-white rounded text-uppercase my-2">
                            <span class="font-weight-bold">Complete Order</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </button>

                        <!-- Card will be charged info -->
                        <p class="text-danger my-3 pb-5">
                            <span class="icon">
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            <span>Your card will be charged <strong>&euro;{{ grand_total|floatformat:2 }}</strong></span>
                        </p>
                    </div>

                </fieldset>
            </form>
        </div>

</div>

<!-- loading overlay -->
<div id="loading-overlay">
    <h6 class="text-light loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-spinner fa-pulse"></i>
        </span>
    </h6>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}