.header-about-banner {
	background: url('/static/images/about-page-main-banner.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 700px;
}

.about-banner {
    background: url('/static/images/about-boxingbag-image.jpg') no-repeat center center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
}

.about-img {
	width: 95%;
}

.read-more:hover {
    color: #fff;
}


/* MEDIA QUERIES */

@media screen and (max-width: 576px) {
	.header-about-banner {
        height: 400px;
    }
}