{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}


{% block content %}
<!-- main banner -->
<div class="row header-contact-banner justify-content-center">
    <div class="col-12">
        <div> 
            <h1 class="row justify-content-center pb-5 mb-5">
                <div class="col-auto">Contact</div>
            </h1>
        </div>
    </div>
</div>

<!-- contact form -->
<div class="row bg-llgrey justify-content-center pb-5">
    <div class="col-10">

        <div class="row justify-content-center py-5">
            <h4 class="col-12 text-dark pt-5">Get in touch with us</h4>
        </div>
    
    </div>
</div>

{% endblock %}