{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
    <script type="text/javascript">
        (function () {
            emailjs.init("user_HkNSXwtzpi7DbBHRTmoyO");
        })();
    </script>
{% endblock %}


{% block content %}
<!-- main banner -->
<div class="row header-contact-banner justify-content-center">
    <div class="col-12">
        <div> 
            <h1 class="row justify-content-center pb-5 mb-5">
                <span class="col-auto">Contact</span>
            </h1>
        </div>
    </div>
</div>

<!-- contact form -->
<div class="row bg-llgrey justify-content-center pb-5">
    <div class="col-10">

        <div class="row justify-content-center py-5">
            <h4 class="col-12 text-dark pt-4">Get in touch with us</h4>
            <hr class="col-11">

            <div class="col-12 col-md-9 col-lg-6">
                
                <p class="pt-2 text-danger">
                    PLEASE NOTE: <br>
                    Online membership sign up feature is not yet available.
                    You can sign up at the academy or by phone call. Leave your details below and we will get in touch with you.
                </p>

                <p class="pt-2 text-center">
                    If you wish to book your <strong>free trial class</strong> leave your details below and we will get in touch with you.
                </p>

                <!-- form -->
                <form onsubmit="return sendMail(this);" action="#" class="py-1 text-dark">
                    <div class="row py-1">
                        <label for="name" class="pt-3">Name <em class="text-red">&ast;</em></label>
                        <input id="name" name="name" class="col-12 input-label rounded" type="text" placeholder="..." required>

                        <label for="email" class="pt-3">E-mail <em class="text-red">&ast;</em></label>
                        <input id="email" name="emailaddress" class="rounded" type="email" placeholder="..." required>

                        <label for="phone" class="pt-3">Phone</label>
                        <input id="phone" name="phone" class="rounded" type="text" placeholder="...">

                        <label for="message" class="pt-3">Message <em class="text-red">&ast;</em></label>
                        <textarea id="message" name="contact_form_query" class="rounded" placeholder="..." required></textarea>

                        <input type="submit" value="submit" class="button-join text-uppercase bg-dred py-2 px-5 mt-5 mb-0 rounded text-light border-0 w-290px">
                    </div>

                </form>

                <!-- email sent/not sent confirmation -->
                <div id="email-message-container" class="message-container">
                    <div class="toast custom-toast rounded-0 border-top-0" data-autohide="false">
                        <div class="toast-header bg-white text-dark">
                            <strong class="mr-auto">Email message</strong>
                            <button type="button" class="ml-2 mb-1 close text-dark" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div id="email-message-body" class="toast-body bg-white">
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}

    <!-- Emailjs -->
    <script src="{% static 'contact/js/sendEmail.js' %}"></script>

{% endblock %}