{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'memberships/css/memberships.css' %}">
{% endblock %}


{% block content %}
<!-- main banner -->
<div class="row header-membership-banner justify-content-center">
    <div class="col-12">
        <div> 
            <h1 class="row justify-content-center pb-5 mb-5">
                <div class="col-auto">About</div>
            </h1>
        </div>
    </div>
</div>

<!-- main content -->
{% endblock %}