{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- heading -->
<div class="row justify-content-center bg-dgrey">
    <div class="col-11 col-lg-10">
        <h2 class="px-5 pb-3">Edit Class</h2>
        <hr class="hr-light">
    </div>
</div>

<!-- product form -->
<div class="row justify-content-center bg-dgrey pt-3">
    <!-- form -->
    <div class="col-10 col-sm-7 col-md-6 col-lg-4">
        <form method="POST" action="{% url 'edit_class' singleclass.id %}" class="form text-light small" enctype="multipart/form-data">

            {% csrf_token %}
            {{ form | crispy }}

            <!-- buttons -->
            <div class="text-right pb-5">
                <a class="btn button-white-outline rounded border-light mx-1 my-2" href="{% url 'all_classes' %}#times">Cancel</a>
                <button class="btn btn-full-white rounded mx-1 my-2" type="submit">Update Class</button>
            </div>
        </form>
    </div>

</div>
{% endblock %}