{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'classes/css/classes.css' %}">
{% endblock %}


{% block content %}
<!-- main banner -->
<div class="row header-classes-banner justify-content-center">
    <div class="col-12">
        <div> 
            <h1 class="row justify-content-center pb-5 mb-5">
                <div class="col-auto">Classes</div>
            </h1>
        </div>
    </div>
</div>

<!-- kids & teens classes -->
<div class="row justify-content-center py-5 bg-llgrey">

    <div class="col-11 col-md-9 pb-5 rwd-kidsclassesimage-phonetablet">
        <img src="{% static 'images/classes-kids&teens-image.jpg' %}" alt="Kids' martial arts classes" style="width: 100%;">
    </div>

    <div class="col-11 col-xs-10 col-md-8 col-xl-4 pb-5 rwd-kidsclassesimage-desktop">
        <img src="{% static 'images/classes-kids&teens-image.jpg' %}" alt="Kids' martial arts classes" style="width: 95%;">
    </div>

    <div class="col-11 col-md-9 col-xl-6 py-2">
        <h4 class="text-dark py-3">Kids & Teens Classes</h4>
        <p class="text-dark">
            <span class="text-uppercase font-weight-bold">Kids 4-8 years</span><br>
            This is the very first course your children will start with.
            In this class our only main focus is to build self-esteem, a sense of respect for rules and on the technical point of view
            teaching drills and fun games to starts working on coordination and basic techniques for further development.
        </p>
        <p class="text-dark">
            <span class="text-uppercase font-weight-bold">Kids 8+ years</span><br>
            This program’s focus is to develop and sharpen skills from fundamentals to more advanced skill sets.
        </p>
        
        <!-- classes diagram -->
        <div class="row justify-content-center pt-4">
            <div class="col-9 col-md-2 text-center">BJJ</div>
            <div class="col-9 col-md-3 classes-levels rounded">4-8 years</div>
            <div class="col-9 col-md-3 classes-levels rounded">8-12 years</div>
            <div class="col-9 col-md-3 classes-levels rounded">12+ years</div>
        </div>

        <div class="row justify-content-center">
            <div class="col-9 col-md-2 p-1 text-center">Kickboxing</div>
            <div class="col-9 col-md-3 classes-levels rounded opacity-30">4-8 years</div>
            <div class="col-9 col-md-3 classes-levels rounded">8-12 years</div>
            <div class="col-9 col-md-3 classes-levels rounded">12+ years</div>
        </div>

        <div class="row justify-content-center">
            <div class="col-9 col-md-2 p-1 text-center">Boxing</div>
            <div class="col-9 col-md-3 classes-levels rounded opacity-30">4-8 years</div>
            <div class="col-9 col-md-3 classes-levels rounded">8-12 years</div>
            <div class="col-9 col-md-3 classes-levels rounded">12+ years</div>
        </div>

        <div class="row justify-content-center py-5">
            <div class="col-auto">
                <a href="times#times" class="text-dred read-more-dark text-decoration-none">See timetable…</a>
            </div>
        </div>

        <!-- join academy button -->
        <div class="row">
            <div class="col-12">
                <div>
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <h6 class="text-dark font-weight-normal lead">Get in touch to book a free trial class!</h6>
                            <a href="{% url 'memberships' %}" class="d-block button-join text-center bg-dred py-3 my-4 text-decoration-none text-uppercase rounded mx-auto">
                                Join Our Academy
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}