{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'classes/css/classes.css' %}">
{% endblock %}


{% block content %}
<!-- main banner -->
<div class="row header-classes-banner justify-content-center">
    <div class="col-12">
        <div> 
            <h1 class="row justify-content-center pb-5 mb-5">
                <div class="col-auto">Classes</div>
            </h1>
        </div>
    </div>
</div>

<!-- kids & teens classes -->
<div class="row justify-content-center py-5 bg-llgrey">

    <div class="col-11 col-md-9 pb-5 rwd-kidsclassesimage-phonetablet">
        <img src="{% static 'images/classes-kids&teens-image.jpg' %}" alt="Kids' martial arts classes" style="width: 100%;">
    </div>

    <div class="col-11 col-xs-10 col-md-8 col-xl-4 pb-5 rwd-kidsclassesimage-desktop">
        <img src="{% static 'images/classes-kids&teens-image.jpg' %}" alt="Kids' martial arts classes" style="width: 95%;">
    </div>

    <div class="col-11 col-md-9 col-xl-6 py-2">
        <h4 class="text-dark py-2">Kids & Teens Classes</h4>
        <p class="text-dark">
            <span class="text-uppercase font-weight-bold">Kids 4-8 years</span><br>
            This is the very first course your children will start with.
            In this class our only main focus is to build self-esteem, a sense of respect for rules and on the technical point of view
            teaching drills and fun games to starts working on coordination and basic techniques for further development.
        </p>
        <p class="text-dark">
            <span class="text-uppercase font-weight-bold">Kids 8+ years</span><br>
            This program’s focus is to develop and sharpen skills from fundamentals to more advanced skill sets.
        </p>
        
        <!-- classes diagram -->
        <div class="row justify-content-center pt-4">
            <div class="col-9 col-md-2 text-center">BJJ</div>
            <div class="col-9 col-md-3 classes-levels rounded">4-8 years</div>
            <div class="col-9 col-md-3 classes-levels rounded">8-12 years</div>
            <div class="col-9 col-md-3 classes-levels rounded">12+ years</div>
        </div>

        <div class="row justify-content-center">
            <div class="col-9 col-md-2 p-1 text-center">Kickboxing</div>
            <div class="col-9 col-md-3 classes-levels rounded opacity-30">4-8 years</div>
            <div class="col-9 col-md-3 classes-levels rounded">8-12 years</div>
            <div class="col-9 col-md-3 classes-levels rounded">12+ years</div>
        </div>

        <div class="row justify-content-center">
            <div class="col-9 col-md-2 p-1 text-center">Boxing</div>
            <div class="col-9 col-md-3 classes-levels rounded opacity-30">4-8 years</div>
            <div class="col-9 col-md-3 classes-levels rounded">8-12 years</div>
            <div class="col-9 col-md-3 classes-levels rounded">12+ years</div>
        </div>

        <div class="row justify-content-center py-5">
            <div class="col-auto">
                <a href="times#times" class="text-dred read-more-dark text-decoration-none">See timetable…</a>
            </div>
        </div>

        <!-- join academy button -->
        <div class="row">
            <div class="col-12">
                <div>
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <h6 class="text-dark text-center font-weight-normal lead px-3">Get in touch to book a free trial class!</h6>
                            <a href="{% url 'memberships' %}" class="d-block button-join text-center bg-dred py-3 my-4 text-decoration-none text-uppercase rounded mx-auto">
                                Join Our Academy
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- adults classes -->
<div class="row justify-content-center py-5 bg-lgrey">

    <div class="col-11 col-md-9 pb-5 rwd-kidsclassesimage-phonetablet">
        <img src="{% static 'images/classes-adults-image.jpg' %}" alt="Kids' martial arts classes" style="width: 100%;">
    </div>

    <div class="col-11 col-xs-10 col-md-8 col-xl-4 pb-5 rwd-kidsclassesimage-desktop">
        <img src="{% static 'images/classes-adults-image.jpg' %}" alt="Kids' martial arts classes" style="width: 95%;">
    </div>

    <div class="col-11 col-md-9 col-xl-6 py-2">
        <h4 class="text-dark py-2">Adults Classes</h4>
        <p class="text-dark">
            <span class="text-uppercase font-weight-bold">Beginners</span><br>
            Small classes allowing for more focus and direction from the coach ensuring that you progress as quickly as possible.
        </p>
        <p class="text-dark">
            <span class="text-uppercase font-weight-bold">Intermediate</span><br>
            This programme is suitable for those who have completed the beginners program at Anaconda MAA and prepares students for the advanced adult’s class.
        </p>
        <p class="text-dark">
            <span class="text-uppercase font-weight-bold">Advanced</span><br>
            This class is for students interested in training in a more intense environment or specifically for Mixed Martial Arts competition.
        </p>
        
        <!-- classes diagram -->
        <div class="row justify-content-center pt-4">
            <div class="col-9 col-md-2 text-center">BJJ</div>
            <div class="col-9 col-md-3 classes-levels rounded">Beginner</div>
            <div class="col-9 col-md-3 classes-levels rounded">Intermediate</div>
            <div class="col-9 col-md-3 classes-levels rounded">Advanced</div>
        </div>

        <div class="row justify-content-center">
            <div class="col-9 col-md-2 p-1 text-center">Kickboxing</div>
            <div class="col-9 col-md-3 classes-levels rounded">Beginner</div>
            <div class="col-9 col-md-3 classes-levels rounded">Intermediate</div>
            <div class="col-9 col-md-3 classes-levels rounded">Advanced</div>
        </div>

        <div class="row justify-content-center">
            <div class="col-9 col-md-2 p-1 text-center">Boxing</div>
            <div class="col-9 col-md-3 classes-levels rounded">Beginner</div>
            <div class="col-9 col-md-3 classes-levels rounded">Intermediate</div>
            <div class="col-9 col-md-3 classes-levels rounded">Advanced</div>
        </div>

        <div class="row justify-content-center">
            <div class="col-9 col-md-2 p-1 text-center">MMA</div>
            <div class="col-9 col-md-3 classes-levels rounded opacity-30">Beginner</div>
            <div class="col-9 col-md-3 classes-levels rounded opacity-30">Intermediate</div>
            <div class="col-9 col-md-3 classes-levels rounded">Advanced</div>
        </div>

        <div class="row justify-content-center py-5">
            <div class="col-auto">
                <a href="times#times" class="text-dred read-more-dark text-decoration-none">See timetable…</a>
            </div>
        </div>

        <!-- join academy button -->
        <div class="row">
            <div class="col-12">
                <div>
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <h6 class="text-dark text-center font-weight-normal lead px-3">Get in touch to book a free trial class!</h6>
                            <a href="{% url 'memberships' %}" class="d-block button-join text-center bg-dred py-3 my-4 text-decoration-none text-uppercase rounded mx-auto">
                                Join Our Academy
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- times -->
<div class="row bg-llgrey justify-content-center pb-5">
    <div class="col-10">

        <div class="row justify-content-center py-5" id="times">
            <h4 class="col-12 text-dark pt-5">Class Timetable</h4>

            <!-- column 1 -->
            <div class="col-11 col-sm-7 col-lg-2">
                
                <p class="font-weight-bold text-center text-dark pt-5 pb-0">Monday</p>
                <hr>
                <div class="border border-dark rounded text-center py-1 my-2 rwd-display-none">
                    <p class="my-0 text-dgrey border-bottom small">10.00AM - 11.00AM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2 rwd-display-none">
                    <p class="my-0 text-dgrey border-bottom small">11.00AM - 12.00AM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 pt-1 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2 rwd-display-none">
                    <p class="my-0 text-dgrey border-bottom small">12.00AM - 1.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <hr>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">4.00PM - 5.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">5.00PM - 6.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">6.00PM - 7.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">7.00PM - 8.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">8.00PM - 9.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>

            </div>

            <!-- column 2 -->
            <div class="col-11 col-sm-7 col-lg-2">
                
                <p class="font-weight-bold text-center text-dark pt-5 pb-0">Monday</p>
                <hr>
                <div class="border border-dark rounded text-center py-1 my-2 rwd-display-none">
                    <p class="my-0 text-dgrey border-bottom small">10.00AM - 11.00AM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2 rwd-display-none">
                    <p class="my-0 text-dgrey border-bottom small">11.00AM - 12.00AM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 pt-1 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2 rwd-display-none">
                    <p class="my-0 text-dgrey border-bottom small">12.00AM - 1.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <hr>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">4.00PM - 5.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">5.00PM - 6.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">6.00PM - 7.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">7.00PM - 8.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">8.00PM - 9.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>

            </div>

            <!-- column 3 -->
            <div class="col-11 col-sm-7 col-lg-2">
                
                <p class="font-weight-bold text-center text-dark pt-5 pb-0">Monday</p>
                <hr>
                <div class="border border-dark rounded text-center py-1 my-2 rwd-display-none">
                    <p class="my-0 text-dgrey border-bottom small">10.00AM - 11.00AM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2 rwd-display-none">
                    <p class="my-0 text-dgrey border-bottom small">11.00AM - 12.00AM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 pt-1 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2 rwd-display-none">
                    <p class="my-0 text-dgrey border-bottom small">12.00AM - 1.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <hr>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">4.00PM - 5.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">5.00PM - 6.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">6.00PM - 7.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">7.00PM - 8.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">8.00PM - 9.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>

            </div>

            <!-- column 4 -->
            <div class="col-11 col-sm-7 col-lg-2">
                
                <p class="font-weight-bold text-center text-dark pt-5 pb-0">Monday</p>
                <hr>
                <div class="border border-dark rounded text-center py-1 my-2 rwd-display-none">
                    <p class="my-0 text-dgrey border-bottom small">10.00AM - 11.00AM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2 rwd-display-none">
                    <p class="my-0 text-dgrey border-bottom small">11.00AM - 12.00AM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 pt-1 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2 rwd-display-none">
                    <p class="my-0 text-dgrey border-bottom small">12.00AM - 1.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <hr>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">4.00PM - 5.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">5.00PM - 6.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">6.00PM - 7.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">7.00PM - 8.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">8.00PM - 9.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>

            </div>

            <!-- column 5 -->
            <div class="col-11 col-sm-7 col-lg-2">
                
                <p class="font-weight-bold text-center text-dark pt-5 pb-0">Monday</p>
                <hr>
                <div class="border border-dark rounded text-center py-1 my-2 rwd-display-none">
                    <p class="my-0 text-dgrey border-bottom small">10.00AM - 11.00AM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2 rwd-display-none">
                    <p class="my-0 text-dgrey border-bottom small">11.00AM - 12.00AM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 pt-1 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2 rwd-display-none">
                    <p class="my-0 text-dgrey border-bottom small">12.00AM - 1.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <hr>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">4.00PM - 5.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">5.00PM - 6.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">6.00PM - 7.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">7.00PM - 8.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">8.00PM - 9.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>

            </div>

            <!-- column 6 -->
            <div class="col-11 col-sm-7 col-lg-2">
                
                <p class="font-weight-bold text-center text-dark pt-5 pb-0">Monday</p>
                <hr>
                <div class="border border-dark rounded text-center py-1 my-2 rwd-display-none">
                    <p class="my-0 text-dgrey border-bottom small">10.00AM - 11.00AM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2 rwd-display-none">
                    <p class="my-0 text-dgrey border-bottom small">11.00AM - 12.00AM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 pt-1 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2 rwd-display-none">
                    <p class="my-0 text-dgrey border-bottom small">12.00AM - 1.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <hr>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">4.00PM - 5.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">5.00PM - 6.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">6.00PM - 7.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">7.00PM - 8.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>
                <div class="border border-dark rounded text-center py-1 my-2">
                    <p class="my-0 text-dgrey border-bottom small">8.00PM - 9.00PM</p>
                    <p class="text-red font-weight-bold my-0">Kickboxing</p>
                    <p class="my-0 border-top font-weight-light small">Adults Intermediate</p>
                </div>

            </div>

        </div>

    </div>
</div>

{% endblock %}