{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'classes/css/classes.css' %}">
{% endblock %}


{% block content %}
<!-- main banner -->
<div class="row header-about-banner justify-content-center">
    <div class="col-12">
        <div> 
            <h1 class="row justify-content-center pb-5 mb-5">
                <div class="col-auto">Classes</div>
            </h1>
        </div>
    </div>
</div>

<!-- about academy -->
<div class="row justify-content-center py-5 about-banner" id="about-anaconda">
    <div class="col-11 col-sm-10 col-lg-6 text-light ">
        <h4 class="pt-5 pb-3 text-center">About Anaconda Martial Arts Academy</h3>
        <p class="text-center pt-4 pb-2 font-weight-light">
            Anaconda MAA is a well-established martial arts academy that has been growing considerably since 2012.
            In our club we teach discipline, mental toughness and selflessness, alongside top level jiu-jitsu, kickboxing and boxing.
            Our goal is to create a confident, winning character both on and off the mat.
        </p>
        <p class="text-center pt-2 pb-4 font-weight-light">
            Our coaches are driven by a passion for martial arts.
            One of the most positive environments you will ever be in,
            the club is filled with friendly people that constantly try to improve themselves and work hard to reach their goals.
        </p>
    </div>
</div>

{% endblock %}